[phases.setup]
nixPkgs = ["jdk21", "nodejs_20"]

[phases.build]
cmds = [
  "chmod +x gradlew",
  "./gradlew :server:clean :server:build -x test --no-daemon"
]

[start]
cmd = "java -Dserver.port=$PORT -Dspring.profiles.active=cloud -jar server/build/libs/*.jar"
